{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<a href="{% url 'start' %}">Powrót na Stronę główną</a>

{% if pracownicy %}
    <table>
        <tr> 
            <th><a>Imię</a></th>
            <th><a>Nazwisko</a></th>
            <th><a>Data Urodzenia</a></th>
            <th><a>Pesel</a></th>
        </tr>
    {% for pracownik in pracownicy %}
        <tr> 
            <td><a>{{pracownik.imie}} (id={{pracownik.id}})</a></td>
            <td><a>{{pracownik.nazwisko}}</a></td>
            <td><a>{{pracownik.data_ur}}</a></td>
            <td><a>{{pracownik.pesel}}</a></td>
            <td><a href="/polls/usun_pracownika/{{pracownik.id}}/">Usuń Pracownika</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}