{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<a href="{% url 'start' %}">Powrót na Stronę główną</a>

{% if premia %}
    <table>
        <tr> 
            <th><a>Nazwa</a></th>
            <th><a>Wiekosc</a></th>
            <th><a>Uzasadnienie</a></th>
            <th><a>Awans</a></th>
            <th><a>Data</a></th>
        </tr>
    {% for premii in premia %}
        <tr> 
            <td><a>{{premii.nazwa}}</a></td>
            <td><a>{{premii.wiekosc}}</a></td>
            <td><a>{{premii.uzasadnienie}}</a></td>
            <td><a>{{premii.awans}}</a></td>
            <td><a>{{premii.data}}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="/polls/formularz_premia/">Dodaj Premię</a>