{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<a href="{% url 'start' %}">Powrót na Stronę główną</a>

{% if projekty %}
    <table>
        <tr> 
            <th><a>Nazwa</a></th>
            <th><a>Od_data</a></th>
            <th><a>Do_data</a></th>
            <th><a>Koszty</a></th>
            <th><a>Profit</a></th>
        </tr>
    {% for projekt in projekty %}
        <tr> 
            <td><a>{{projekt.nazwa}}</a></td>
            <td><a>{{projekt.od_data}}</a></td>
            <td><a>{{projekt.do_data}}</a></td>
            <td><a>{{projekt.koszty}}</a></td>
            <td><a>{{projekt.profit}}</a></td>
            <td><a href="/polls/edycja_projekt/{{projekt.id}}/">Edytuj Projekt</a></td>
            <td><a href="/polls/usun_projekt/{{projekt.id}}/">Usuń Projekt</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="/polls/formularz_projekty/">Dodaj Projekt</a>