{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<a href="{% url 'start' %}">Powrót na Stronę główną</a>

{% if rekrutacja %}
    <table>
        <tr> 
            <th><a>Imie</a></th>
            <th><a>Nazwisko</a></th>
            <th><a>CV</a></th>
            <th><a>Stanowisko</a></th>
            <th><a>Pesel</a></th>
            <th><a>Akceptacja</a></th>
        </tr>
    {% for rekrut in rekrutacja %}
        <tr> 
            <td><a>{{rekrut.imie}}</a></td>
            <td><a>{{rekrut.nazwisko}}</a></td>
            <td><a>{{rekrut.upload_CV}}</a></td>
            <td><a>{{rekrut.stanowisko}}</a></td>
            <td><a>{{rekrut.pesel}}</a></td>
            <td><a>{{rekrut.akceptacja}}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}