{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<a href="{% url 'start' %}">Powrót na Stronę główną</a>

{% if stanowiska %}
<table>
  <tr>
    <th>Nazwa</th>
    <th>Dział</th>
    <th>Braki?</th>
  </tr>
  {% for stanowisko in stanowiska %}
  <tr class="{% if stanowisko.braki %} braki {% endif %}">
    <td>{{stanowisko.nazwa}}</td>
    <td>{{stanowisko.dzial}}</td>
    <td>{{stanowisko.braki}}</td>
    <td><a href="/polls/edycja_stanowiska/{{stanowisko.id}}/">Edytuj Stanowisko</a></td>
    <td><a href="/polls/usun_stanowisko/{{stanowisko.id}}/">Usuń Stanowisko</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No polls are available.</p>
{% endif %}

<a href="/polls/formularz_stanowiska/">Dodaj Stanowisko</a>