{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<a href="{% url 'start' %}">Powrót na Stronę główną</a>

{% if zatrudnienia %}
<table>
  <tr>
    <th>Pracownik</th>
    <th>Projekt</th>
    <th>Stanowisko </th>
    <th>Okres</th>
    <th>Pensja<th>
  </tr>
  {% for zatrudnienie in zatrudnienia %}
    <td>{{zatrudnienie.pracownik}}</td>
    <td>{{zatrudnienie.projekt}}</td>
    <td>{{zatrudnienie.stanowisko}}</td>
    <td>{{zatrudnienie.od_data}} - {{ zatrudnienie.do_data }}</td>
    <td>{{zatrudnienie.pensja}}</td>
    <td><a href="/polls/usun_zatrudnienie/{{zatrudnienie.id}}/">Usuń Zatrudnienie</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Brak zatrudnienieów w bazie danych.</p>
{% endif %}
