{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>
    <div id="main">
        <header>Aplikacja Bazodanowa</header>
        <section id="lewy">
            <a href="/polls/pracownicy/">Pracownicy</a>
            <a href="/polls/premia">Premia</a>
            <a href="/polls/projekty">Projekty</a>
            <a href="/polls/rekrutacja">Rekrutacja</a>
            <a href="/polls/stanowiska">Stanowiska</a>
            <a href="/polls/szkolenia">Szkolenia</a>
            <a href="/polls/urlopy">Urlopy</a>
            <a href="/polls/zatrudnienia">Zatrudnienia</a>
        </section>
        <section id="prawy">
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        </section>
    </div>
</body>