{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>
    <div id="main">
        <header>Aplikacja Bazodanowa</header>
        <section id="lewy">
            <a href="pracownicy.html">Pracownicy</a>
            <a href="premia.html">Premia</a>
            <a href="projekty.html">Projekty</a>
            <a href="rekrutacja.html">Rekrutacja</a>
            <a href="stanowiska.html">Stanowiska</a>
            <a href="szkolenia.html">Szkolenia</a>
            <a href="urlopy.html">Urlopy</a>
            <a href="zatrudnienia.html">Zatrudnienia</a>
        </section>
        <section id="prawy">
            <a href="usun_pracownika.html">Usuń Pracownika</a>
            <a href="usun_projekt.html">Usuń Projekt</a>
            <a href="usun_stanowisko.html">Usuń Stanowisko</a>
            <a href="usun_Zatrudnienie.html">Usuń Zatrudnienie</a>
        </section>
    </div>
</body>